body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    background-color: #cecece;
}

.title{
    font-weight: bold;
    color: #444;
}

.dino{
    width: 60px;
    height: 60px;
    background-color: #cecece;
    position: absolute;
    bottom: 0;
    background-image: url(/img/dino.png);
}

.cactus{
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    background-image: url(/img/cactus.png);
}

.game-over {
  text-align: center;
  color: #666;
  margin: 50px 0;
}

@keyframes slideright {
  from {
      background-position: 70000%;
  }
  to {
      background-position: 0%;
  }
}

.background {
  position: absolute;
  bottom: 0px;
  background-color: #cecece;
  background-image: url('/img/background.png');
  background-repeat: repeat-x;
  animation: slideright 600s infinite linear;
  -webkit-animation: slideright 600s infinite linear;
  width: 100%;
  height: 200px;
}